<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <h2>Diseño <span> Multimedia </span></h2>
        <nav>
            <a href="../index.html">INICIO</a>
            <a href="nosotros.html">NOSOTROS</a>
            <a href="servicios.html">SERVICIOS</a>
            <a href="contacto.html">CONTACTO</a>
        </nav>
    </header>
    <div id="seccion1nosotros">
        <p id="Pdiv">Subscríbete a nuestro boletín</p>
        <div id="formulario">
        <input type="text" placeholder="Ingrese el Email">
        <button>Subscríbete</button>
    </div>
    </div>
    <div id="caja">
        <aside class="left">
    <h2 id="titleSercicios">Contacto</h2>
    <div id="form">
        <label for="nombre">Nombre</label> <br>
        <input class="campo" type="text" placeholder="Ingresa tu nombre">
        <br>
        <label for="email">Email</label> <br>
        <input class="campo" type="text" placeholder="Ingresa tu email">
        <br>
        <label for="tel">Teléfono</label><br>
        <input class="campo" type="text" placeholder="Ingresa tu teléfono">
        <br>
        <label for="cel">Celular</label> <br>
        <input class="campo" type="text" placeholder="Ingresa tu celular">
        <br>
        <label for="mensaje">Mensaje</label> <br>
        <textarea class="campo"></textarea>
        <br>
        <button id="enviar"> Enviar</button>
    </div>
</aside>
<aside id="rightContacto">
    <div class="right">
    <h3 id="titleHacemos">que hacemos
    </h3>
    <p id="cuadroTexto3">lorem ipsum dolor sit amet, consecteur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra tincidunt tempor. Eliam velit eros, dapibus eget porta in, lacinia et magna   </p>
</div>

<img id="mapa" src="../assets/images/mapaGoogle.png" alt="">
</aside>
</div>
<footer>
    <p id="Pfooter">Graphel Desarrollo Web, copyright &copy 2017</p>
</footer>
</body>
</html>