<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <h2>Diseño <span> Multimedia </span></h2>
        <nav>
            <a href="../index.html">INICIO</a>
            <a href="nosotros.html">NOSOTROS</a>
            <a href="servicios.html">SERVICIOS</a>
            <a href="contacto.html">CONTACTO</a>
        </nav>
    </header>
    <div id="seccion1nosotros">
        <p id="Pdiv">Subscríbete a nuestro boletín</p>
        <div id="formulario">
        <input type="text" placeholder="Ingrese el Email">
        <button>Subscríbete</button>
    </div>
    </div>
    <div id="caja">
        <section class="left">
            <div id="cuadro">
            <h3 id="titleNosotros">Nosotros</h3>
            <p id="cuadroTexto1">Lorem ipsum dolor sit amet, consecteur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet
                ex ipsum. Praesent pharetra tinicidunt tempor. Etiam velit eros, dapibus eget porta in, lacinia et magma. Nam eget eros non orci ceonsecteur congue at ac augue. Proin eget
                arcu in enim feugiat ultricies. Curabitur maximus metus nec metus pretium viverra at et orci. Iinteger 
                hendreit ante un placerat cursus
            </p>
        </div>
            <p id="cuadroTexto2">Aliquam eget pharetra diam. Nulla placerat lorem at turpis tempor vel ultrices dui tincidunt. Proin quis egestas lorem.Mauris vehicula lectus odio. Sit amet dicturn justo feugiat a. Praeseuan id dictum lactus. Sed ullamcopet id erat ut dictum. Fucse porttitor lorem sapien, in aliquer sapien convalls et. Donec nec mauris nulla. Curabitur cursus semprer odio, ell hendret</p>
            <img src="../assets/images/891.jpg" alt="">
        </section>
        <aside class="right">
            <h3 id="titleHacemos">que hacemos
            </h3>
            <p id="cuadroTexto3">lorem ipsum dolor sit amet, consecteur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra tincidunt tempor. Eliam velit eros, dapibus eget porta in, lacinia et magna   </p>
        </aside>
    </div>
    <footer>
        <p id="Pfooter">Graphel Desarrollo Web, copyright &copy 2017</p>
    </footer>
</body>
</html>