<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <h2>Diseño <span> Multimedia </span></h2>
        <nav>
            <a href="../index.html">INICIO</a>
            <a href="nosotros.html">NOSOTROS</a>
            <a href="servicios.html">SERVICIOS</a>
            <a href="contacto.html">CONTACTO</a>
        </nav>
    </header>
    <div id="seccion1nosotros">
        <p id="Pdiv">Subscríbete a nuestro boletín</p>
        <div id="formulario">
        <input type="text" placeholder="Ingrese el Email">
        <button>Subscríbete</button>
    </div>
    </div>
 
    <div id="caja">
        <aside class="left">
            <h2 id="titleSercicios">Servicios</h2>
        <div id="boxservicios">
            <h3> Diseño web</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Vivamus mi augue, viverra sit amet ultrices at, vulputate id lorem. Nulla facilisi. </p>
               <p><br> Precio: $300000 - $1000000</p>
        </div>
        <div id="boxservicios">
            <h3>Desarrollo web</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Vivamus mi augue, viverra sit amet ultrices at, vulputate id lorem. Nulla facilisi. </p>
              <p><br> Precio desde: 1000000</p>
        </div>
        <div id="boxservicios">
            <h3>Hosting Web</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Vivamus mi augue, viverra sit amet ultrices at, vulputate id lorem. Nulla facilisi. </p>
                <p> <br> Precio: 300000</p>
        </div>
    </aside>
        <aside class="right">
            <h3 id="titleHacemos">que hacemos
            </h3>
            <p id="cuadroTexto3">lorem ipsum dolor sit amet, consecteur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra tincidunt tempor. Eliam velit eros, dapibus eget porta in, lacinia et magna   </p>
        </aside>
    </div>
    <footer>
        <p id="Pfooter">Graphel Desarrollo Web, copyright &copy 2017</p>
    </footer>
</body>
</html>